body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  /* padding: 0 2rem; */
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
  display: flex;
  font-weight: 100;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}

.header {
  padding: 0.7rem 2rem;
  border-bottom: 1px solid #ddd;
}

.menu-header > li {
  margin-right: 2rem;
}

.menu-header li:first-child b {
  font-weight: 400;
}

.menu-header li:nth-child(2) b {
  font-weight: 400;
}

.menu-header > li:nth-child(2) {
  padding-right: 2rem;
  border-right: 1px solid #ddd;
}

.content {
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  font-weight: 300;
  padding: 0 2rem;
}

.content__list {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content__list-img {
  width: calc(25% - 20px);
  height: calc(12.5vw - 20px);
  margin-bottom: 2rem;

  position: relative;
}

.content__list-img:hover .heart-img {
  opacity: 1;
}

.heart-img {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #ff000094;
  opacity: 0;
  font-size: 1.4rem;
  transition: 0.3s;
}

.heart-active {
  color: red;
  opacity: 1;
}

.content > input {
  border: 0;
  border-bottom: 1px solid #ddd;

  font-size: 1.8rem;
  font-weight: 300;
  width: 50%;
  height: 3rem;
  margin-bottom: 2rem;

  text-decoration: none;
  outline: none;
}

::placeholder {
  font-size: 1.8rem;
}

.menu-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 2rem;
  background-color: #ddd;

  justify-content: space-between;
}

@media only screen and (max-width: 1023px) {
  .wrapper {
    font-size: 1.2rem;
  }
  .header {
  }
  .menu-header {
    height: 3rem;
  }
  .menu-header > li {
    margin-right: 1rem;
    line-height: 2.8rem;
  }

  .content > input {
    width: 100%;
    font-size: 1.2rem;
    height: 2rem;
  }

  ::placeholder {
    font-size: 1.2rem;
  }

  .content__list {
    width: 100%;
  }

  .content__list-img {
    width: 100vw;
    height: 100vw;
  }

  .menu-footer {
    font-size: 1.2rem;
    padding: 0 1rem;
  }
}
